---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BasePageLayout.astro";
import BlogPostLink from "../components/BlogPostLink.astro";
import "../styles/global.css";

const pageTitle = "My Astro Learning Blog";

const posts = await getCollection("blog");
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {posts.map((post: any) => <BlogPostLink post={post} />)}
  </ul>
</BaseLayout>
